
@{
    ViewData["Title"] = "Index";
}



    <div class="container"><br /><br />
        <div class="row">
            <div class="col-9">
                <h1 class="alert alert-info">Users List</h1>
            </div>
            <div class="col-3 mt-3">
                <a asp-action="Create" asp-controller="JqueryCrud" class="btn btn-primary">Create Users</a>
            </div>
        </div>
    </div>

    <div class="col-12 border p-3">

        <table id="DT_Load" class="table table-striped border">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                    <th>Actions</th>

                </tr>
            </thead>
        </table>

    </div>

@section Scripts{ 

    <script>
        var dataTable;
        $(document).ready(function () {
            dataTable = $('#DT_Load').DataTable({
                "ajax": {
                    "url": "/JqueryCrud/GetAllDataApiJson",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "userId",
                        "width": "20%"
                    },
                    
                    {
                        "data": "userName",
                        "width": "20%"
                    },
                    {
                        "data": "userEmail",
                        "width": "20%"
                    },
                    {
                        "data": "userMobileNo",
                        "width": "20%"
                    },
                    {
                        "data": "userId",
                        "width": "40%",
                        "render": function (data) {
                            return `<div class='text-center'>
                    <a class='btn btn-success' href="/JqueryCrud/Edit?id=${data}">Edit</a>
                        &nbsp;
                    <a onclick=Delete('/JqueryCrud/DeleteByDataApiJson?id='+${data}) class='btn btn-danger text-white' style='cursor:pointer'>Delete</a>
                       
                       </div>`

                        }
                    }

                ],
                "language": {
                    "emptyTable": "Not Found Data"
                },
                "width": "100%"

            });
        });


        function Delete(url) {

            swal({
                title: "Are you want to delete?",
                text: "It will be pramanently delete!",
                icon: "warning",
                buttons: true,
                dangermode: true

            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: url,
                        type: "DELETE",
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.message);
                                dataTable.ajax.reload();
                            } else {
                                toastr.error(data.message);
                            }
                        }
                    })
                }
            })


        }
    </script>
}